# Temporary files
Temporary/
*~

# Generated fils
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.synctex(busy)
*.thm
*.toc
*.xml
*.zip

# Extracted files
*.sty
*.cls
*.ins
